In [5]:
import pandas as pd
from plotly.offline import download_plotlyjs,plot,iplot,init_notebook_mode
init_notebook_mode(connected=True)
from plotly import tools

import plotly.graph_objs as go

In [47]:
data = pd.read_csv('/home/harshal/Works/Jupyter Stuff/christmas.csv')

In [48]:
data

   Year  Average amount spent in U.S. dollars
0   '99                                   857
1   '00                                   817
2   '01                                   794
3   '02                                   690
4   '03                                   734
5   '04                                   730
6   '05                                   763
7   '06                                   826
8   '07                                   866
9   '08                                   616
10  '09                                   638
11  '10                                   714
12  '11                                   764
13  '12                                   770
14  '13                                   704
15  '14                                   720
16  '15                                   830
17  '16                                   752
18  '17                                   862
19  '18                                   794

In [49]:
data['Year'] = data['Year'].str.lstrip('\'')
data['Year'] = pd.to_datetime(data['Year'], format='%y')

In [50]:
data

         Year  Average amount spent in U.S. dollars
0  1999-01-01                                   857
1  2000-01-01                                   817
2  2001-01-01                                   794
3  2002-01-01                                   690
4  2003-01-01                                   734
5  2004-01-01                                   730
6  2005-01-01                                   763
7  2006-01-01                                   826
8  2007-01-01                                   866
9  2008-01-01                                   616
10 2009-01-01                                   638
11 2010-01-01                                   714
12 2011-01-01                                   764
13 2012-01-01                                   770
14 2013-01-01                                   704
15 2014-01-01                                   720
16 2015-01-01                                   830
17 2016-01-01                                   752
18 2017-01-01                                   862
19 2018-01-01                                   794

In [56]:
data['Year'].dt.year

0     1999
1     2000
2     2001
3     2002
4     2003
5     2004
6     2005
7     2006
8     2007
9     2008
10    2009
11    2010
12    2011
13    2012
14    2013
15    2014
16    2015
17    2016
18    2017
19    2018
Name: Year, dtype: int64

In [217]:
data1 = go.Scatter(x=data['Year'].dt.year,
                 y=data['Average amount spent in U.S. dollars'],
             mode = 'lines+markers',
             marker = dict(symbol = 17, size = 10)
             #hoverinfosrc= 'Average amount spent in U.S. dollars'
                  )

layout1 = go.Layout(
    title = 'How much Americans spend on Christmas?', titlefont = dict(size = 30, color='#177a21'),
    xaxis = dict(
            title = 'Years',
            dtick=1,
            #titlefont = dict(size=15)
                ),
    yaxis = dict(
            title = "Spendings U.S Dollars",
            #titlefont = dict(size=15
    ),
    annotations = [
            dict(x=2002,y=690,xref='x',yref='y',text='Decline after 2001 recession',font = dict(family = "Arial Black",size=16),arrowhead=3, ax=0,ay=40),
            dict(x=2008,y=616,xref='x',yref='y',text='Financial Crisis of 2008, 29% decline',font = dict(family = "Arial Black",size=16),arrowhead=5, ax=80, ay=-200),
            dict(x=2007,y=866,xref='x',yref='y',text='Peak Spending at $866',font = dict(family = "Arial Black",size=16),arrowhead=3)
            
        
        
        
        
    ],
    images = [dict(
        source="new.png",
        xref="paper", yref="paper",
        x=0.5, y=1,
        sizex=0.2, sizey=0.15,
        xanchor="center", yanchor="bottom"
      )]
                )
fig = go.Figure(data=[data1], layout=layout1)
iplot(fig)